@model String

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>errorPage</title>
</head>
<body>
    <div>
        <p>
            <b>Esta pagina es de errores</b>
        </p>
        @*@model*@  
    </div>
</body>
</html>
